@import "~bootstrap/dist/css/bootstrap.min.css";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #0e7e12;
  box-sizing: border-box;
}

.rota-vertical {
  transform: scaleY(-1);
}
.card {
  height: 40rem;
  width: 28rem;
  border-radius: 1rem;
  position: relative;
  font-size: 20rem;
  margin-top: 10rem;
  padding: 1rem;
  text-align: center;

  &:before {
    top: 0.5rem;
    left: 2rem;
    position: absolute;
    font-size: 10rem;
  }
  &:after {
    transform: scaleY(-1);
    bottom: 0.5rem;
    right: 2rem;
    position: absolute;
    font-size: 10rem;
  }
  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
span {
  padding-top: 8rem;
}
.button {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);

  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 3px;
  position: relative;
  display: inline-block;
  transition: all 0.1s;
  font-size: 3rem;
  margin-right: 10rem;
  margin-top: 5rem;
}
.button:active {
  transform: translateY(7px);
}
.button-orange {
  background: #ff9819;
  box-shadow: 0 10px 0 #ff7300, 0 11px 5px hsla(0, 0%, 0%, 0.5);
}
.button-orange:active {
  box-shadow: 0 3px 0 #ff7300, 0 4px 6px hsla(0, 0%, 0%, 0.7);
}
